div {
  border: 1px solid black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.rbtn,
.pbtn,
.sbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#ef9484;
  height: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.results {
  display: grid;
  min-height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-area: 2 / 2 / 3 / 4;
  background-color: #ef9484;
  color: #3e2c14;
}

.player-choice, 
.player-score {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #E3C567;
  color: #3e2c14;
}

.computer-choice,
.computer-score {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #D9AE61;
  color: #3e2c14;
}
