.results {
  display: grid;
  min-height: 200px;
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;
}

.player-score {
  border: 1px solid black;
  background-color: aquamarine;
  color: white;
}

.computer-score {
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
}

.result-text {
  background-color: pink;
  grid-area: 2 / 1 / 3 / 3;
}